<footer>
    <hr>
    {% block title %}<p style="color:deepskyblue; font-style: italic">Todo List: {% endblock %}
    <div class="row" style="font-size: 0.8em ">
        <ol >
            <li>Create sqlite db with satellites, transponders and channels data</li>
            <li>Main page must output combined responsive table with actual data from db</li>
            <li>Create admin panel</li>
            <li>In admin panel create possibility for adding/deleting/editing data</li>
            <li>Create links for downloading in pdf or xls formats </li>
        </ol>
    </div>
</footer>
</body>